*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100% ;
    overflow-x: hidden;
}

body {
    /* font-family: "Rubik", sans-serif !important; */
    background-image: url("../img/background-img.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    width: 100%;
    height: 100vh;
    /* position: relative; */
}
header{
    /* position: absolute;
    top:0; */
    width: 100%;
    height: 3rem;
}
main {
    /* background-color: rgba(0,0,0,0.5); */
    width: 100%;
    /* position: absolute; */
    /* top: 4rem;   */
    height: 100%;
    /* overflow: hidden; */
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#sectionManagement{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    /* border: 2px solid blue !important; */
    /* visibility: hidden; */
    /* margin-bottom: 4rem ; */
    height: fit-content;
    /* width: 100%; */
    /* position: absolute; */
    
}



#claim-status{
    font-size: 0.8rem;
}
/* #claim-detail{
    display: none;
} */

.elementBox{
    background-color: rgba(0,0,0,0.7);
    margin: 1rem;
    padding: 1.5rem;
    /* border: 1px solid red !important; */
    width: 100%;
    /* the width is risky */
    height: 100% !important;
    /* min-height: 25vh; */
    border-top-right-radius: 2rem 2rem;
    border-bottom-left-radius: 2rem 2rem;
    color: aliceblue;
    overflow: hidden;
    overflow-x: auto;
    /* overflow-y: scroll; */
}

.col, .col-lg-4, .col-lg-5, .col-lg-7, .col-lg-8 {
    /* margin: 1rem !important; */
    padding: 1rem !important;
    /* min-height: 25%; */
    height: 100 !important;
    /* border: 1px solid red !important; */
}

.row  {
    height:fit-content;
    /* border: 2px solid blue !important; */
}

.doc-icon{
    height: 1.5rem ;
    /* margin-top: 1.5rem; */
}

a{
    color: turquoise;
}
table {
    /* border-collapse: separate; */
    border-spacing: 2rem 2rem;
}

#claim-description{
    border: 1px dashed white;
    padding: 0.5rem;
    margin: 0.5rem;
}
#fileDoc{
    /* border: 1px dashed white; */
    padding: 0.5rem;
    margin: 0.5rem;
    
}

#welcomeSite  p{
    border: 1px dashed white; 
    padding: 1rem;
    /* border-top-right-radius: 2rem 2rem;
    border-bottom-left-radius: 2rem 2rem; */
}
#welcomeSite {
    margin: 1rem;
}
footer{
    width: 100%;
    /* position: absolute;
    bottom:0; */
}