*{
    box-sizing: border-box;
    padding: 0,0,0,0;
    margin: 0,0,0,0;
}

html {
    font-size: 100% ;
    overflow-x: hidden;
}

header,footer,main, .col, .row,.col, .col-lg-4,.col-lg-5,.col-lg-7,.col-lg-8{
    margin: 0 !important;
    padding: 0 !important;
}

.col-lg-4,.col-lg-5,.col-lg-7,.col-lg-8{
    
}
.mobile-gapfix{
    margin-bottom:1rem !important;
}

body {
    background-image: url("../images/background-img.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    padding: 0;
}
header{
    width: 100%;
    height: 3rem;
}
main {
    
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0,0,0,0 !important;
    margin: 0,0,0,0 !important; */
    overflow-x: hidden;
}

#sectionManagement{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    /* overflow-y: auto; */
}

section {
    width: 100%;
    height: fit-content;
}



#claim-status{
    font-size: 0.8rem;
}


.elementBox{
    max-width: 100vw;
    height: 100%;


    margin: 1rem;
    padding: 1.5rem;
    overflow: hidden;
    
    color: aliceblue;
    background-color: rgba(0,0,0,0.7);
    /* border: 1px solid red !important; */
    border-bottom-left-radius: 2rem 2rem;
    border-top-right-radius: 2rem 2rem;

}

.element{
    border-top-right-radius: 1rem 1rem;
    border-bottom-left-radius: 1rem 1rem;
    height: 100%;
    width: 100%;   
    overflow: auto;
}

.doc-icon{
    height: 1.5rem ;
    
}

a{
    color: turquoise;
}


#claim-description{
    border: 1px dashed white;
    padding: 0.5rem;
    margin: 0.5rem;
}
#fileDoc{
    /* border: 1px dashed white; */
    padding: 0.5rem;
    margin: 0.5rem;
    
}

#welcomeSite  p{
    border: 1px dashed white; 
    padding: 1rem;
    /* border-top-right-radius: 2rem 2rem;
    border-bottom-left-radius: 2rem 2rem; */
}
#welcomeSite {
    margin: 1rem;
}
footer{
    width: 100vw;
    /* position: absolute;
    bottom:0; */
}